In [2]:
import pandas as pd
import os

In [3]:
df = pd.read_csv('cleaned_subregion_data.csv')
df

,company,region,demand,local_time,utc_time,city
0,NYIS,ZONJ,7269.0,2018-07-01 01:00:00,2018-07-01 05:00:00,nyc
1,NYIS,ZONJ,6977.0,2018-07-01 02:00:00,2018-07-01 06:00:00,nyc
2,NYIS,ZONJ,6725.0,2018-07-01 03:00:00,2018-07-01 07:00:00,nyc
3,NYIS,ZONJ,6539.0,2018-07-01 04:00:00,2018-07-01 08:00:00,nyc
4,NYIS,ZONJ,6415.0,2018-07-01 05:00:00,2018-07-01 09:00:00,nyc
...,...,...,...,...,...,...
132283,CISO,PGAE,11578.0,2020-05-19 20:00:00,2020-05-20 03:00:00,san jose
132284,CISO,PGAE,11782.0,2020-05-19 21:00:00,2020-05-20 04:00:00,san jose
132285,CISO,PGAE,11592.0,2020-05-19 22:00:00,2020-05-20 05:00:00,san jose
132286,CISO,PGAE,11083.0,2020-05-19 23:00:00,2020-05-20 06:00:00,san jose
132287,CISO,PGAE,10506.0,2020-05-20 00:00:00,2020-05-20 07:00:00,san jose

In [26]:
## getting all of the cities in TX 
tx_cities = df[(df["city"] == 'san antonio') | (df['city'] == 'houston') | (df['city'] =='dallas')]

tx_cities.head()

# check to see any null values 
tx_cities.isnull().any()
tx_cities.count()

company       49608
region        49608
demand        25776
local_time    49608
utc_time      49608
city          49608
dtype: int64

In [27]:
tx_cities[tx_cities.isnull().any(axis=1)]

,company,region,demand,local_time,utc_time,city
8834,ERCO,COAS,NaN,2018-07-01 01:00:00,2018-07-01 06:00:00,houston
8835,ERCO,COAS,NaN,2018-07-01 02:00:00,2018-07-01 07:00:00,houston
8836,ERCO,COAS,NaN,2018-07-01 03:00:00,2018-07-01 08:00:00,houston
8837,ERCO,COAS,NaN,2018-07-01 04:00:00,2018-07-01 09:00:00,houston
8838,ERCO,COAS,NaN,2018-07-01 05:00:00,2018-07-01 10:00:00,houston
...,...,...,...,...,...,...
128924,ERCO,NCEN,NaN,2020-05-19 20:00:00,2020-05-20 01:00:00,dallas
128925,ERCO,NCEN,NaN,2020-05-19 21:00:00,2020-05-20 02:00:00,dallas
128926,ERCO,NCEN,NaN,2020-05-19 22:00:00,2020-05-20 03:00:00,dallas
128927,ERCO,NCEN,NaN,2020-05-19 23:00:00,2020-05-20 04:00:00,dallas
128928,ERCO,NCEN,NaN,2020-05-20 00:00:00,2020-05-20 05:00:00,dallas

In [35]:
## import the json data

# import json
# import os
# from pprint import pprint
# import requests

# filepath = os.path.join('houston.json')
# with open(filepath) as jsonfile:
#     houston_json = json.load(jsonfile)
    
# pprint(houston_json)

houston_temp = pd.read_json('houston.json')
houston_temp.head()

#add city column name
houston_temp['city']='houston'
houston_temp.head()

,time,summary,icon,precipIntensity,precipProbability,temperature,apparentTemperature,dewPoint,humidity,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone,precipAccumulation,city
0,1530507600,Humid,clear-night,0.0,0.0,81.87,87.88,74.15,0.78,1015.6,5.45,9.31,191.0,0.01,0.0,8.479,NaN,NaN,NaN,houston
1,1530511200,Humid,clear-night,0.0,0.0,81.29,86.90,74.17,0.79,1015.4,5.30,7.54,195.0,0.00,0.0,7.880,NaN,NaN,NaN,houston
2,1530514800,Humid,clear-night,0.0,0.0,80.34,85.34,74.47,0.82,1014.9,5.49,5.49,218.0,0.00,0.0,8.751,NaN,NaN,NaN,houston
3,1530518400,Humid,clear-night,0.0,0.0,79.75,84.06,74.09,0.83,1014.8,3.53,8.39,187.0,0.01,0.0,7.772,NaN,NaN,NaN,houston
4,1530522000,Humid,clear-night,0.0,0.0,79.23,83.02,74.02,0.84,1015.0,4.25,4.25,210.0,0.05,0.0,7.772,NaN,NaN,NaN,houston

In [36]:
dallas_temp = pd.read_json('dallas.json')
dallas_temp.head()

# add column for city name before merging
dallas_temp['city'] = 'dallas'
dallas_temp.head()

,time,summary,icon,precipIntensity,precipProbability,temperature,apparentTemperature,dewPoint,humidity,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone,precipAccumulation,city
0,1530507600,Clear,clear-night,0.0,0.0,89.56,91.71,65.31,0.45,1011.9,10.84,12.40,164.0,0.06,0.0,9.617,NaN,NaN,NaN,dallas
1,1530511200,Clear,clear-night,0.0,0.0,88.35,92.26,68.29,0.52,1012.7,9.94,9.94,179.0,0.04,0.0,9.817,NaN,NaN,NaN,dallas
2,1530514800,Clear,clear-night,0.0,0.0,87.05,91.45,69.26,0.56,1012.8,8.92,10.31,186.0,0.04,0.0,9.510,NaN,NaN,NaN,dallas
3,1530518400,Clear,clear-night,0.0,0.0,86.04,90.51,69.61,0.58,1012.7,8.47,8.47,189.0,0.18,0.0,9.617,NaN,NaN,NaN,dallas
4,1530522000,Clear,clear-night,0.0,0.0,84.80,89.74,70.68,0.63,1012.9,5.61,5.61,193.0,0.15,0.0,9.617,NaN,NaN,NaN,dallas

In [38]:
sa_temp = pd.read_json('san_antonio.json')
sa_temp.head()

# add column name
sa_temp['city'] = 'san antonio'

sa_temp.head()

,time,summary,icon,precipIntensity,precipProbability,temperature,apparentTemperature,dewPoint,humidity,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone,precipAccumulation,city
0,1530507600,Humid,clear-night,0.0,0.0,81.09,86.15,73.38,0.77,1014.7,9.02,9.02,131.0,0.01,0.0,9.997,NaN,NaN,NaN,san antonio
1,1530511200,Humid,clear-night,0.0,0.0,79.40,82.99,72.74,0.80,1014.7,9.18,9.18,131.0,0.02,0.0,9.976,NaN,NaN,NaN,san antonio
2,1530514800,Humid and Mostly Cloudy,partly-cloudy-night,0.0,0.0,78.22,79.70,73.07,0.84,1014.3,11.20,11.20,141.0,0.75,0.0,9.976,NaN,NaN,NaN,san antonio
3,1530518400,Humid and Mostly Cloudy,partly-cloudy-night,0.0,0.0,78.22,79.67,72.85,0.84,1014.6,8.01,8.01,162.0,0.75,0.0,9.976,NaN,NaN,NaN,san antonio
4,1530522000,Humid and Partly Cloudy,partly-cloudy-night,0.0,0.0,77.08,78.47,72.18,0.85,1013.6,4.81,4.81,181.0,0.45,0.0,9.976,NaN,NaN,NaN,san antonio

In [39]:
## combine all weather datasets

tx_weather = pd.concat([houston_temp, dallas_temp, sa_temp], axis = 0)

In [40]:
tx_weather

,time,summary,icon,precipIntensity,precipProbability,temperature,apparentTemperature,dewPoint,humidity,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone,precipAccumulation,city
0,1530507600,Humid,clear-night,0.0000,0.00,81.87,87.88,74.15,0.78,1015.6,5.45,9.31,191.0,0.01,0.0,8.479,NaN,NaN,NaN,houston
1,1530511200,Humid,clear-night,0.0000,0.00,81.29,86.90,74.17,0.79,1015.4,5.30,7.54,195.0,0.00,0.0,7.880,NaN,NaN,NaN,houston
2,1530514800,Humid,clear-night,0.0000,0.00,80.34,85.34,74.47,0.82,1014.9,5.49,5.49,218.0,0.00,0.0,8.751,NaN,NaN,NaN,houston
3,1530518400,Humid,clear-night,0.0000,0.00,79.75,84.06,74.09,0.83,1014.8,3.53,8.39,187.0,0.01,0.0,7.772,NaN,NaN,NaN,houston
4,1530522000,Humid,clear-night,0.0000,0.00,79.23,83.02,74.02,0.84,1015.0,4.25,4.25,210.0,0.05,0.0,7.772,NaN,NaN,NaN,houston
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16569,1590192000,Humid and Partly Cloudy,partly-cloudy-day,0.0000,0.00,90.56,99.22,73.18,0.57,1007.0,13.32,17.07,144.0,0.41,1.0,10.000,NaN,302.6,NaN,san antonio
16570,1590195600,Humid,clear-day,0.0000,0.00,88.32,95.58,72.41,0.59,1007.4,13.42,19.50,143.0,0.30,0.0,10.000,NaN,302.0,NaN,san antonio
16571,1590199200,Clear,clear-night,0.0004,0.01,85.65,91.22,71.25,0.62,1008.3,13.46,22.66,142.0,0.13,0.0,10.000,rain,301.1,NaN,san antonio
16572,1590202800,Clear,clear-night,0.0010,0.02,83.25,87.76,70.63,0.66,1008.8,13.17,24.94,144.0,0.03,0.0,10.000,rain,300.5,NaN,san antonio
16573,1590206400,Clear,clear-night,0.0014,0.02,81.33,85.39,71.03,0.71,1009.6,12.29,25.46,144.0,0.04,0.0,10.000,rain,301.0,NaN,san antonio