In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("cleaned_subregion_data.csv")
data.head()

  company region  demand           local_time             utc_time city
0    NYIS   ZONJ  7269.0  2018-07-01 01:00:00  2018-07-01 05:00:00  nyc
1    NYIS   ZONJ  6977.0  2018-07-01 02:00:00  2018-07-01 06:00:00  nyc
2    NYIS   ZONJ  6725.0  2018-07-01 03:00:00  2018-07-01 07:00:00  nyc
3    NYIS   ZONJ  6539.0  2018-07-01 04:00:00  2018-07-01 08:00:00  nyc
4    NYIS   ZONJ  6415.0  2018-07-01 05:00:00  2018-07-01 09:00:00  nyc

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132288 entries, 0 to 132287
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   company     132288 non-null  object
 1   region      132288 non-null  object
 2   demand      106316 non-null  float64
 3   local_time  132288 non-null  object
 4   utc_time    132288 non-null  object
 5   city        132288 non-null  object
dtypes: float64(1), object(5)
memory usage: 6.1+ MB

In [7]:
#check any null values (except demand)
data.isnull().sum()

company           0
region            0
demand        25972
local_time        0
utc_time          0
city              0
dtype: int64

In [17]:
data["city"].value_counts()

san antonio     16536
philadelphia    16536
dallas          16536
san jose        16536
houston         16536
san diego       16536
nyc             16536
la              16536
Name: city, dtype: int64

In [ ]:
# leave 3 cities in TX - Debra, here you go!