In [1]:
import pandas as pd
import os

In [2]:
file_path = os.path.join("Resources","us-counties.csv")
df=pd.read_csv(file_path)

In [3]:
df.head()

        date     county       state     fips  cases  deaths
0  1/21/2020  Snohomish  Washington  53061.0      1       0
1  1/22/2020  Snohomish  Washington  53061.0      1       0
2  1/23/2020  Snohomish  Washington  53061.0      1       0
3  1/24/2020       Cook    Illinois  17031.0      1       0
4  1/24/2020  Snohomish  Washington  53061.0      1       0

In [4]:
df_new=df.dropna()

In [5]:
df_new.isnull().sum()

date      0
county    0
state     0
fips      0
cases     0
deaths    0
dtype: int64

In [6]:
df_new_date=df_new[df_new['date']=='2020-09-08']
df_new_date.reset_index(drop=True,inplace=True)

In [10]:
df_new_date.head()

Empty DataFrame
Columns: [date, county, state, fips, cases, deaths]
Index: []

In [8]:
df_new_date['fips'].nunique()

0

In [16]:
df_sorted=df_new_date.sort_values((['cases']),ascending=False)

In [17]:
df_100=df_sorted.head(100)

In [18]:
df_100.head()

            date       county       state     fips   cases  deaths
201   2020-09-08  Los Angeles  California   6037.0  249241    6036
358   2020-09-08   Miami-Dade     Florida  12086.0  162025    2666
100   2020-09-08     Maricopa     Arizona   4013.0  136040    3093
605   2020-09-08         Cook    Illinois  17031.0  132079    5098
2684  2020-09-08       Harris       Texas  48201.0  112039    2342

In [19]:
df_100.reset_index(drop=True,inplace=True)

In [20]:
df_100.head()

         date       county       state     fips   cases  deaths
0  2020-09-08  Los Angeles  California   6037.0  249241    6036
1  2020-09-08   Miami-Dade     Florida  12086.0  162025    2666
2  2020-09-08     Maricopa     Arizona   4013.0  136040    3093
3  2020-09-08         Cook    Illinois  17031.0  132079    5098
4  2020-09-08       Harris       Texas  48201.0  112039    2342

In [21]:
df_100.shape

(100, 6)

In [22]:
df_100.head()

         date       county       state     fips   cases  deaths
0  2020-09-08  Los Angeles  California   6037.0  249241    6036
1  2020-09-08   Miami-Dade     Florida  12086.0  162025    2666
2  2020-09-08     Maricopa     Arizona   4013.0  136040    3093
3  2020-09-08         Cook    Illinois  17031.0  132079    5098
4  2020-09-08       Harris       Texas  48201.0  112039    2342

In [24]:
pt_df_top5=df_100.head()

In [25]:
#Dropping Deaths Column and isolating top 5 affected areas from the rest
pt_df_top5.drop(['deaths'],axis=1,inplace=True)

C:\Users\Pankaj\Anaconda3\lib\site-packages\pandas\core\frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [26]:
pt_df_top5

         date       county       state     fips   cases
0  2020-09-08  Los Angeles  California   6037.0  249241
1  2020-09-08   Miami-Dade     Florida  12086.0  162025
2  2020-09-08     Maricopa     Arizona   4013.0  136040
3  2020-09-08         Cook    Illinois  17031.0  132079
4  2020-09-08       Harris       Texas  48201.0  112039

In [11]:
target='Los Angeles, California'
url='https://maps.googleapis.com/maps/api/geocode/json?address={}&key={}'.format(target,pt_gkey)

In [12]:
geo_data=requests.get(url).json()

In [13]:
geo_data

In [27]:
#geo_data['results'][0]['geometry']['location']['lat']

In [28]:
#geo_data['results'][0]['geometry']['location']['lng']

In [27]:
for index,row in pt_df_top5.iterrows():
    county=row['county']
    state=row['state']
    target=f'{county},{state}'
    url='https://maps.googleapis.com/maps/api/geocode/json?address={}&key={}'.format(target,pt_gkey)
    geo_data=requests.get(url).json()
    pt_df_top5.loc[index,'Latitude'] = geo_data['results'][0]['geometry']['location']['lat']
    pt_df_top5.loc[index,'Longitude'] = geo_data['results'][0]['geometry']['location']['lng']

C:\Users\Pankaj\Anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Pankaj\Anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [28]:
pt_df_top5

         date       county       state     fips   cases   Latitude   Longitude
0  2020-09-08  Los Angeles  California   6037.0  249241  34.052234 -118.243685
1  2020-09-08   Miami-Dade     Florida  12086.0  162025  25.551603  -80.632692
2  2020-09-08     Maricopa     Arizona   4013.0  136040  33.058106 -112.047642
3  2020-09-08         Cook    Illinois  17031.0  132079  41.737659  -87.697554
4  2020-09-08       Harris       Texas  48201.0  112039  29.775182  -95.310250

In [ ]:
import requests
from config import pt_gkey
import gmaps
gmaps.configure(api_key=pt_gkey)

In [11]:
import pandas as pd
import os
import requests
from config import pt_gkey
import gmaps
gmaps.configure(api_key=pt_gkey)

In [12]:
paths=os.path.join('Resources','ktop100latlng.csv')
pt_df=pd.read_csv(paths)

In [13]:
pt_df=pt_df.sort_values(['rate'],ascending=False)

In [14]:
pt_df.head()

,date,county,state,fips,cases_x,deaths,cases_y,rate,Population,Latitude,Longitude
0,9/8/2020,Tehama,California,6103.0,453,1,4,112.250000,144905,40.027102,-122.123323
1,9/8/2020,Bingham,Idaho,16011.0,676,9,7,95.571429,121264,43.211230,-112.362415
2,9/8/2020,Stone,Missouri,29209.0,316,2,4,78.000000,121684,36.774888,-93.459933
3,9/8/2020,Sebastian,Arkansas,5131.0,3042,38,40,75.050000,142299,35.226040,-94.315422
4,9/8/2020,Portage,Wisconsin,55097.0,798,2,11,71.545455,143879,43.539149,-89.462620

In [16]:
pt_locations =pt_df[['Latitude','Longitude']]
pt_cases=pt_df['rate'].astype(float)
pt_maxx=pt_df['rate'].max()

In [17]:
fig=gmaps.figure()
heat_layer=gmaps.heatmap_layer(pt_locations,weights=pt_cases,dissipating=False,max_intensity=pt_maxx,point_radius=0.9)

In [18]:
fig.add_layer(heat_layer)

In [19]:
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
pt_df5=pt_df.head()

In [22]:
pt_df5=pt_df5.round({'rate':1})

In [23]:
info_box_template = """
<dl>
<dt>County</dt><dd>{county}</dd>
<dt>State</dt><dd>{state}</dd>
<dt>Rate</dt><dd>{rate}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
covid_info = [info_box_template.format(**row) for index, row in pt_df5.iterrows()]
locations = pt_df5[["Latitude", "Longitude"]]

In [24]:

marker_layer=gmaps.marker_layer(locations,info_box_content=covid_info)

In [25]:
fig.add_layer(marker_layer)

In [26]:
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
pt_path=os.path.join('Resources','mask-use-by-county.csv')

In [42]:
pt_df=pd.read_csv(pt_path)

In [43]:
pt_df.shape

(3142, 6)

In [44]:
pt_df.head()

   COUNTYFP  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
0      1001  0.053   0.074      0.134       0.295   0.444
1      1003  0.083   0.059      0.098       0.323   0.436
2      1005  0.067   0.121      0.120       0.201   0.491
3      1007  0.020   0.034      0.096       0.278   0.572
4      1009  0.053   0.114      0.180       0.194   0.459

In [45]:
pt_df.rename(columns={'COUNTYFP':'fips'},inplace=True)

In [46]:
pt_merged=pd.merge(df_new_date,pt_df,on='fips')

In [47]:
pt_merged=pt_merged.sort_values(['cases'],ascending=False)

In [48]:
#pt_merged=pt_merged.head(100)

In [49]:
pt_merged.reset_index(inplace=True, drop=True)

In [ ]:
rar=pt_merged['NEVER'] + pt_merged['RARELY']+pt_merged['SOMETIMES']+pt_merged['FREQUENTLY']
cases=pt_merged['cases']

In [ ]:
# import matplotlib.pyplot as plt
# plt.scatter(rar,cases)
# plt.show()

In [ ]:
# import scipy.stats as sts

In [ ]:
# corr=sts.pearsonr(rar,cases)
# corr

In [50]:
pt_merged

,date,county,state,fips,cases,deaths,NEVER,RARELY,SOMETIMES,FREQUENTLY,ALWAYS
0,2020-09-08,Los Angeles,California,6037.0,249241,6036,0.021,0.013,0.049,0.131,0.786
1,2020-09-08,Miami-Dade,Florida,12086.0,162025,2666,0.032,0.023,0.060,0.128,0.756
2,2020-09-08,Maricopa,Arizona,4013.0,136040,3093,0.023,0.025,0.059,0.158,0.734
3,2020-09-08,Cook,Illinois,17031.0,132079,5098,0.023,0.021,0.072,0.162,0.722
4,2020-09-08,Harris,Texas,48201.0,112039,2342,0.019,0.024,0.069,0.152,0.736
...,...,...,...,...,...,...,...,...,...,...,...
3115,2020-09-08,Arthur,Nebraska,31005.0,1,0,0.144,0.135,0.117,0.248,0.356
3116,2020-09-08,Prairie,Montana,30079.0,1,0,0.101,0.270,0.171,0.283,0.176
3117,2020-09-08,Elk,Kansas,20049.0,1,0,0.061,0.050,0.295,0.282,0.312
3118,2020-09-08,Keya Paha,Nebraska,31103.0,1,0,0.124,0.090,0.183,0.273,0.331
3119,2020-09-08,Rawlins,Kansas,20153.0,1,0,0.128,0.174,0.209,0.220,0.268

In [10]:
import pandas as pd
import os
import requests
from config import wkey

In [11]:
location=os.path.join('Resources','ktop100latlng.csv')
ktop100=pd.read_csv(location)

In [4]:
ktop100.head()

,date,county,state,fips,cases_x,deaths,cases_y,rate,Population,Latitude,Longitude
0,2020-09-08,Tehama,California,6103.0,453,1,1,452.000000,144905,40.027102,-122.123323
1,2020-09-08,Madison,Arkansas,5087.0,310,2,1,309.000000,102420,35.013147,-90.722610
2,2020-09-08,Sebastian,Arkansas,5131.0,3042,38,14,216.285714,142299,35.226040,-94.315422
3,2020-09-08,Meade,South Dakota,46093.0,346,1,2,172.000000,118642,44.441519,-102.685507
4,2020-09-08,Bingham,Idaho,16011.0,676,9,4,168.000000,121264,43.211230,-112.362415

In [5]:
ktop100=ktop100.drop(['deaths'],axis=1)

In [6]:
ktop100.head()

,date,county,state,fips,cases_x,cases_y,rate,Population,Latitude,Longitude
0,2020-09-08,Tehama,California,6103.0,453,1,452.000000,144905,40.027102,-122.123323
1,2020-09-08,Madison,Arkansas,5087.0,310,1,309.000000,102420,35.013147,-90.722610
2,2020-09-08,Sebastian,Arkansas,5131.0,3042,14,216.285714,142299,35.226040,-94.315422
3,2020-09-08,Meade,South Dakota,46093.0,346,2,172.000000,118642,44.441519,-102.685507
4,2020-09-08,Bingham,Idaho,16011.0,676,4,168.000000,121264,43.211230,-112.362415

In [7]:
params={'appid':wkey,'units':'Imperial'}

In [8]:
counter=1
for index,row in ktop100.iterrows():
    print("loking for number {}".format(counter))
    url='http://api.openweathermap.org/data/2.5/weather?'
    latt=row['Latitude']
    long=row['Longitude']
    params['lat']=latt
    params['lon']=long
    response=requests.get(url,params=params).json()
    ktop100.loc[index,'Max_Temp']=response['main']['temp_max']
    ktop100.loc[index,'humidity']=response['main']['humidity']
    
    counter+=1

loking for number 1
loking for number 2
loking for number 3
loking for number 4
loking for number 5
loking for number 6
loking for number 7
loking for number 8
loking for number 9
loking for number 10
loking for number 11
loking for number 12
loking for number 13
loking for number 14
loking for number 15
loking for number 16
loking for number 17
loking for number 18
loking for number 19
loking for number 20
loking for number 21
loking for number 22
loking for number 23
loking for number 24
loking for number 25
loking for number 26
loking for number 27
loking for number 28
loking for number 29
loking for number 30
loking for number 31
loking for number 32
loking for number 33
loking for number 34
loking for number 35
loking for number 36
loking for number 37
loking for number 38
loking for number 39
loking for number 40
loking for number 41
loking for number 42
loking for number 43
loking for number 44
loking for number 45
loking for number 46
loking for number 47
loking for number 48
loking for number 49
loking for number 50
loking for number 51
loking for number 52
loking for number 53
loking for number 54
loking for number 55
loking for number 56
loking for number 57
loking for number 58
loking for number 59
loking for number 60
loking for number 61
loking for number 62
loking for number 63
loking for number 64
loking for number 65
loking for number 66
loking for number 67
loking for number 68
loking for number 69
loking for number 70
loking for number 71
loking for number 72
loking for number 73
loking for number 74
loking for number 75
loking for number 76
loking for number 77
loking for number 78
loking for number 79
loking for number 80
loking for number 81
loking for number 82
loking for number 83
loking for number 84
loking for number 85
loking for number 86
loking for number 87
loking for number 88
loking for number 89
loking for number 90
loking for number 91
loking for number 92
loking for number 93
loking for number 94
loking for number 95
loking for number 96
loking for number 97
loking for number 98
loking for number 99
loking for number 100

In [9]:
ktop100.head()

,date,county,state,fips,cases_x,cases_y,rate,Population,Latitude,Longitude,Max_Temp,humidity
0,2020-09-08,Tehama,California,6103.0,453,1,452.000000,144905,40.027102,-122.123323,84.20,32.0
1,2020-09-08,Madison,Arkansas,5087.0,310,1,309.000000,102420,35.013147,-90.722610,73.00,73.0
2,2020-09-08,Sebastian,Arkansas,5131.0,3042,14,216.285714,142299,35.226040,-94.315422,77.00,65.0
3,2020-09-08,Meade,South Dakota,46093.0,346,2,172.000000,118642,44.441519,-102.685507,62.01,59.0
4,2020-09-08,Bingham,Idaho,16011.0,676,4,168.000000,121264,43.211230,-112.362415,79.00,9.0

In [ ]:
plt.scatter()

In [58]:
response

{'coord': {'lon': -80.63, 'lat': 25.55},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01d'}],
 'base': 'stations',
 'main': {'temp': 86.5,
  'feels_like': 90.36,
  'temp_min': 84.99,
  'temp_max': 87.8,
  'pressure': 1014,
  'humidity': 66},
 'visibility': 10000,
 'wind': {'speed': 10.29, 'deg': 140},
 'clouds': {'all': 1},
 'dt': 1600208449,
 'sys': {'type': 1,
  'id': 6041,
  'country': 'US',
  'sunrise': 1600168120,
  'sunset': 1600212398},
 'timezone': -14400,
 'id': 4164238,
 'name': 'Miami-Dade County',
 'cod': 200}